      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .header {
      }
      .text-header {
        color: #ffffff;
        font-size: 28px;
      }
      .link {
        margin-top: 10px;
        display: flex;
        gap: 50px;
      }
      .link a {
        font-size: 16.1px;
        color: #ffffff;
        text-decoration: none;
      }
      .menu {
      }
      .hearder-main {
        display: flex;
        gap: 20px;
        padding: 15px;
        /* justify-content: center; */
        justify-content: space-evenly;
        background-color: #c0392b;
        height: 62px;
      }

      .main {
        padding-top: 60px;
      }
      .text-main {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-text {
        padding: 50px;
      }
      .logo {
      }
      .logo img {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .text-logo {
        font-size: 37.7px;
      }
      .text-logo {
      }

      .menu-box {
      }
      .menu-main {
      }
      .text-h2 {
        padding-top: 50px;
        text-align: center;
        color: #c0392b;
        font-size: 24px;
        margin-bottom: 41px;
      }
      .logo-menu {
        line-height: 2;
        display: flex;
        flex-direction: row; 
        align-items: center;   
        justify-content: center;
        gap: 20px;
      }
      .item-img {
        text-align: center;
        height: 280px;
        width: 300px;
        border-radius: 20px;
        background-color: #fff9f5;
        box-shadow: 0px 10px 30px 0px #0000001A;
        margin-bottom: 100px;
      }
      .item-img img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .item-card {
      }

      .bg{
        background-color: #FFF9F5;
        height: 50px;
       }
      .footer {
        padding-top: 30px;
        background-color: #2c2c2c;
        height: 78px;
        text-align: center;
        color: #ffffff;
      }